
ul {
    list-style-type: none;
}

#mensaje{
    display: none;
}

#opinion{
    width: 30%;
    height: 50%;

}

#otro{
    height:10%;
    width: 30%;
}

#telefono1{
    padding-right: 10%;
    margin-left: 4.8%;
    
}

#correo1{
    padding-right: 10%;
    margin-left: 8.7%;
}

#rut{
    margin-left: 10%;
}

#nombrecompleto{
    margin-left: 3%;
    padding-right: 10%;

}